# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml
captures/
.externalNativeBuild/
.cxx/

# Kotlin
.kotlin/

# 构建产物与签名（避免误传仓库）
*.apk
*.aab
*.keystore
*.jks
*.b64

# 系统文件
.DS_Store
Thumbs.db
